/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

./AirlinesWay.Api/bin/Debug/**
./AitlinesWay.Api/obj/Debug/**

./AirlinesWay.Application/bin/Debug/**
./AitlinesWay.Application/obj/Debug/**

./AirlinesWay.Domain/bin/Debug/**
./AitlinesWay.Domain/obj/Debug/**

.idea/*
